body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
}

.parallax {
    /* The image used */
    background-image: url('moutains.png');

    /* Set a specific height */
    height: 600px;

    /* Create the parallax scrolling effect */
    position: relative;
    opacity: 1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    height: 1000px;
    background-color: rgb(27, 33, 56);
    font-size: 32px
}
.caption {
    position: relative;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: rgb(36, 36, 36);
    font: 100px "Lato", sans-serif
}

.caption span.border {
    background-color: rgb(27, 33, 56);
    color: rgb(159, 162, 182);
    padding: 20px;
    font-size: 100px;
    letter-spacing: 10px;
}

.header {
    color: #777;
    text-align:center;
    padding:50px 80px;
    text-align: center;
    margin: 0px;
    font-size: 50px
}